extends layout

block content
  nav.navbar.navbar-light.bg-faded.m-b-1
    .navbar-brand 
      a.nav-link(ui-sref='home', ui-sref-active="active") دفترچه تلفن
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link(ui-sref='contacts', ui-sref-active="active") مخاطبین
      li.nav-item
        a.nav-link(ui-sref='messages', ui-sref-active="active") ارسال پیام
      li.nav-item
        a.nav-link(ui-sref='delivery', ui-sref-active="active") پیگیری پیام
      li.nav-item
        a.nav-link(href='/auth/logout', ui-sref-active="active") خروج

  span(ng-init= "user= "+JSON.stringify(user))
  <div ui-view></div>
