<div class="center-block">
  <div class="card login-card center-block" ui-view ng-if="!user">
    <header></header>
    <form method="post" action="/auth/login">
      <div class="card-block">
        <div class="form-group">
          <label for="">نام کاربری</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label for="">پسورد</label>
          <input type="password" class="form-control" name="password">
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> سیستم عامل: {{vm.nav.platform}}</li>
        <li class="list-group-item">مرور گر: {{vm.getBrowser()}}</li>
        <li class="list-group-item">آدرس: {{ip}}</li>
        <li class="list-group-item">نسخه: v2.0.2</li>
        <li class="list-group-item">تاریخ: {{vm.date | date}}</li>
      </ul>
      <div class="login-btn">
        <button type="submit"></button>
      </div>
    </form>
  </div>
  <div class="card panel-card center-block" ui-view ng-if="user">
    <div class="card-header text-xs-center">
      <h3>{{vm.title}}</h3>
    </div>
    <ul>
      <section>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li>
          <a href="/tel#/contacts" ng-mouseover="vm.title='دفترچه تلفن'" ng-mouseleave="vm.resetTitle()"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
      </section>
      <hr>
      <footer>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li ng-mouseover="vm.title='کاربران'" ng-mouseleave="vm.resetTitle()">
          <a ui-sref="users"></a>
        </li>
        <li ng-mouseover="vm.title='امنیت و سطح دسترسی'" ng-mouseleave="vm.resetTitle()">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
        <li class="disabled">
          <a href="#"></a>
        </li>
      </footer>
    </ul>
  </div>
</div>
