html {
  font-size: 12px;
}

@font-face {
  font-family: yekan-web;
  src: url(/fonts/YekanWeb-Regular.woff);
}

body {
  font-family: yekan-web, tahoma;
}

.p-r-s-1 {
  padding-right: 0.3rem;
}

.form-control {
  padding: .1rem .75rem;
  line-height: 2;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.card {
  overflow: visible;
}

.card img {
  width: 100%;
}

.card-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.list-group-item {
  padding: .25rem 1.25rem;
}

.product-box {
  height: 500px;
  overflow: overlay;
}

.purchase-form fieldset.form-group {
  height: 35px;
}

.close-danger,
.close-danger:hover {
  opacity: 1;
  color: #D9534F;
}

.search-form input {
  width: 200px;
  display: inline-block;
  position: relative;
  top: -46px;
  left: 20px;
}

.search-form {
  text-align: left;
}

.hover-big {
  position: absolute;
  transition: all .1s;
}

.hover-big:hover {
  z-index: 9999;
  background: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  left: 0;
  top: 0;
  cursor: pointer;
}

.login-card {
  width: 222px;
  margin-top: 10%;
  background: #007DC5;
  color: white;
  box-shadow: 0px 0px 1px 1px rgba(40, 50, 138, 1);
  border: none;
}

.login-card header {
  height: 37px;
  background: url('/images/login-header.png');
  background-size: cover;
  width: 224px;
  position: relative;
  top: -3px;
  right: -1px;
}

.login-card div,
.login-card li {
  background-color: inherit;
}

.login-card .login-btn {
  background-color: #0073BD;
}

.login-card .login-btn button {
  background: url('/images/login.png');
  background-size: cover;
  height: 38px;
  width: 237px;
  border: none;
  margin: 20px -8px 10px;
}

.hover-pointer {
  cursor: pointer;
}

.hover-pointer:hover {
  color: blue;
}

.list-inline-item {
  margin-right: 5px;
}
