<div class="table-responsive">

  <table class="table table-sm">
    <thead>
      <tr>
        <th width="100">نام</th>
        <th width="100">
          <span class="p-r-1">شماره ها</span>
        </th>
        <th>
          <span>پست الکترونیک</span> /
          <span>اطلاعات</span> /
          <span>آدرس</span>
        </th>
      </tr>
    </thead>
    <tr ng-repeat="contact in vm.contacts">
      <td ng-bind-html="vm.highlight(contact.name, vm.query)"></td>
      <td>
        <ul class="list-inline">
          <li class="list-inline-item" ng-repeat="phone in contact.phones">
            <span class="btn btn-link" ng-bind-html="vm.highlight(phone.num, vm.query)" ng-click="vm.message.addTel(phone.num)"></span>
          </li>
        </ul>
      </td>
      <td>
        <p ng-if="contact.email">
          <span>ایمیل :</span>
          <span ng-bind-html="vm.highlight(contact.email, vm.query)"></span>
        </p>
        <p ng-if="contact.info">
          <span>اطلاعات :</span>
          <span class="text-justify" ng-bind-html="vm.highlight(contact.info, vm.query)"></span>
        </p>
        <p ng-if="contact.address">
          <span>آدرس :</span>
          <span class="text-justify" ng-bind-html="vm.highlight(contact.address, vm.query)"></span>
        </p>
      </td>
    </tr>
  </table>
</div>
